* {
	font-family: Verdana;
}

.order {
  text-align: center;
  text-align: center;
  position: absolute;
  bottom: 360px;
  right: 655px;
}

.hours {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Tahoma;
  text-align: center;
  position: absolute;
  top: 150px;
  right: 620px;
}

#checkout {
	position: relative;
	bottom: 1%;
	text-align: center;
}
